:root {
    box-sizing: border-box;
    --primary: #08A6E4;
    --primary-shadow: rgba(7, 172, 230, .16);
    --redish: #FB3B64;
    --green: #55DFB4;
    --black: #000000;
    --grey: #A5A5A5;
    --light-grey: #F7F7F7;
    --white: #FFFFFF;
    --font1: 'Raleway', sans-serif;
    --font2: 'Open Sans', sans-serif;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
    height: 100%;
}

/* HEADER */

.header {
    box-shadow: 0px 3px 6px #00000029;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 2;
}

.headerbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerbox__nav {
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    font-family: var(--font2);
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--grey);
}

.headerbox__nav p {
    padding: 23px;
    transition: .2s;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.headerbox__nav p:hover {
    color: var(--black);
    border-bottom: 2px solid var(--primary);
}

.headerbox__logo {
    font-family: var(--font1);
    font-size: 32px;
    line-height: 37px;
    font-weight: 300;
    color: var(--primary);
}

/* OPENING SECTION */

.opening {
    text-align: center;
}

.opening__h1 {
    font-family: var(--font1);
    font-size: 49px;
    line-height: 57px;
    font-weight: 400;
    margin: 200px 0 20px 0;
}

.opening__text,
.opening__cta {
    font-family: var(--font2);
    font-size: 16px;
    line-height: 22px;
}

.opening__cta {
    color: var(--white);
    display: inline-block;
    margin-top: 60px;
    padding: 22px 157px 23px 157px;
    background-color: var(--primary);
    font-weight: 600;
    text-decoration: none;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
}

.opening__img {
    width: 100%;
}

/* STATISTICS */

.stats__h2 {
    text-align: center;
    font-family: var(--font1);
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin: 100px 0 100px 0;
}

.stats__box {
    display: flex;
    justify-content: center;
    margin: 100px 0 100px 0;
}

.stats__element {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font1);
    position: relative;
}

.stats__element__img {
    height: 100px;
    display: flex;
    align-items: center;
}

.stats__element__img img {
    z-index: 1;
    position: absolute;
}

.reddishimg {
    left: calc(50% - ((44px/2) - 10px));
}

.primaryimg {
    left: calc(50% - ((65px/2) - 10px));
}

.greenimg {
    left: calc(50% - ((52px/2) - 10px));
}

.stats__element__circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    right: calc(50% - ((70px/2) - 10px));
}

.reddish {
    background-color: var(--redish);
}

.primary {
    background-color: var(--primary);
}

.green {
    background-color: var(--green);
}

.stats__element__text:first-of-type {
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    letter-spacing: 5.96px;
    margin-bottom: 20px;
}

.stats__element__text:nth-of-type(2),
.stats__element__text:nth-of-type(3) {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--grey);
}

/* BENEFITS */

.benefits {
    background-color: var(--light-grey);
}

.benefits__container {
    max-width: 1124px;
    margin: 0 auto;
    padding: 105px 0 105px 0;
}

.benefits__element {
    background-color: var(--white);
    height: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefits__element {
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits__element:nth-of-type(3) {
    padding-right: 0;
    display: flex;
    background-color: var(--light-grey);
    border: none;
}

.benefits__element:nth-of-type(2),
.benefits__element:nth-of-type(3) {
    margin-top: 37px;
}

.benefits__element__img {
    width: 433px;
    height: 100%;
    position: relative;
    padding-right: 70px;
}

.benefits__element:nth-of-type(2) .benefits__element__img {
    padding-right: unset;
    padding-left: 70px;
}

.benefits__element__img img {
    width: 100%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    z-index: 1;
}

.second img {
    top: 52%;
    width: 95%;
}

.first img {
    left: -15%;
}

.redishDiv {
    width: 155px;
    height: 155px;
    background-color: var(--redish);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 41px;
    position: absolute;
    top: 15%;
    right: 15%;
}

.primaryDiv {
    width: 330px;
    height: 330px;
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 70px;
}

.greenDiv {
    position: relative;
    width: 100%;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits__element:last-child .benefits__element__img {
    display: flex;
    flex-basis: 35%;
    padding-right: unset;
}

.benefits__element:last-child img {
    width: 65%;
}

.benefits__element:last-child .benefits__element__text {
    padding: 70px 35px 70px 35px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    flex-basis: 58%;
    background-color: var(--white);
    height: 370px;
    box-sizing: border-box;
}

.benefits__element__text {
    width: 416px;
    padding: 70px 0 70px 35px;
}

.benefits__element__text p {
    position: relative;
}

.benefits__element__text p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
}

.benefits__element:nth-of-type(3) .benefits__element__text p::after {
    width: 60%;
}

.redishBorder::after {
    border-bottom: 3px solid var(--redish);
}

.primaryBorder::after {
    border-bottom: 3px solid var(--primary);
}

.greenBorder::after {
    border-bottom: 3px solid var(--green);
}

.benefits__element:nth-last-of-type(2) .benefits__element__text {
    order: 1;
    padding-right: 35px;
}

.benefits__element__text h3 {
    font-family: var(--font1);
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 30px;
}

.benefits__element__text p {
    font-family: var(--font2);
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 50px;
}

/* PRICING */

.pricing h3 {
    margin: 105px auto 50px auto;
    text-align: center;
    font-family: var(--font1);
    font-size: 36px;
    line-height: 42px;
}

.pricing__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 160px;
}

.pricing__element {
    border-radius: 18px;
    border-width: 1px;
    border-style: solid;
    flex-basis: 22%;
    position: relative;
}

.reddishElement {
    border-color: var(--redish);
    height: 460px;
}

.primaryElement {
    border-color: var(--primary);
    height: 500px;
    flex-basis: 25%;
    box-shadow: 5px 10px 27px var(--primary-shadow);
}

.greenElement {
    border-color: var(--green);
    height: 460px;
}

.pricing__element h4 {
    font-family: var(--font1);
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin: 34px 0 34px 0;
}

.pricing__element p {
    font-family: var(--font2);
    font-size: 14px;
    line-height: 19px;
    margin: 20px 0 20px 0;
}

.pricing__element p:last-of-type {
    margin-bottom: 81px;
}

.pricing__element .price {
    font-size: 46px;
    line-height: 70px;
    font-weight: 300;
    margin: 0;
}

.reddishElement .price {
    color: var(--redish);
    margin-bottom: 64px;
}

.primaryElement .price {
    color: var(--primary);
}

.greenElement .price {
    color: var(--green);
}

p.limited {
    font-family: var(--font1);
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 0;
}

.begin {
    height: 50px;
    width: 150px;
    color: var(--white);
    font-family: var(--font2);
    display: inline-block;
    font-size: 13px;
    line-height: 50px;
    font-weight: bold;
    border-radius: 23px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.yes,
.no {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yes::before,
.no::before {
    content: '';
    width: 11px;
    height: 11px;
    margin-right: 10px;
}

.yes::before {
    background-image: url(../assets/Ckechmark-1.svg);
}

.no::before {
    background-image: url(../assets/Close.svg);
}

/* CONTACT */

.contact {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 60px;
}

.contact__text,
.contact__form {
    flex-basis: 50%;
}

.contact__text {
    margin-right: 10px;
}

.contact__form form {
    display: flex;
    flex-direction: column;
}

.contact__text h3 {
    font-family: var(--font1);
    font-size: 49px;
    line-height: 57px;
    margin-bottom: 22px;
}

.contact__text p {
    font-family: var(--font2);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 42px;
}

.contact__text__icons {
    display: flex;
}

.contact__text__icons p {
    color: var(--grey);
    font-weight: 600;
}

.mail::before,
.phone::before {
    content: '';
    width: 27px;
    height: 27px;
    margin-right: 10px;
}

.mail,
.phone {
    display: flex;
}

.mail {
    margin-right: 30px;
}

.mail::before {
    background-image: url(../assets/MailIcon.svg);
}

.phone::before {
    background-image: url(../assets/PhoneIcon.svg);
}

.contact__form__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #95989A;
    line-height: 35px;
    margin-bottom: 42px;
}

.contact__form p {
    font-family: var(--font2);
    font-size: 11px;
    line-height: 15px;
    color: var(--primary);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.28px;
}

.checkbox {
    font-family: var(--font2);
    font-size: 12px;
    line-height: 17px;
    color: #707070;
    display: flex;
}

.checkbox__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox__span {
    height: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid #95989A;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
}

.checkbox__input:checked + .checkbox__span {
    background-image: url(../assets/Checkmark.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
}

.send {
    background-color: var(--primary);
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    color: var(--white);
    padding: 20px 97px 20px 97px;
    box-shadow: 5px 10px 14px var(--primary-shadow);
    border-radius: 35px;
    border: none;
    margin-top: 20px;
    align-self: flex-end;
}

/* FOOTER */

.footer {
    height: 89px;
    box-shadow: 0px -5px 40px #00000029;
    background-color: var(--light-grey);
}

.footerbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footerbox__logo__logo {
    font-family: var(--font1);
    font-size: 26px;
    line-height: 30px;
    font-weight: 300;
    color: var(--primary);
    margin-bottom: 7px;
}

.footerbox__logo__copy {
    font-family: var(--font2);
    font-size: 11px;
    line-height: 15px;
    color: var(--grey);
}

.twitter {
    margin-right: 20px;
}