:root {
    box-sizing: border-box;
    --primary: #08A6E4;
    --primary-shadow: rgba(7, 172, 230, .16);
    --redish: #FB3B64;
    --green: #55DFB4;
    --black: #000000;
    --grey: #A5A5A5;
    --light-grey: #F7F7F7;
    --white: #FFFFFF;
    --font1: 'Raleway', sans-serif;
    --font2: 'Open Sans', sans-serif;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

body {
    height: 200vh;
}

/* HEADER */

.header {
    box-shadow: 0px 3px 6px #00000029;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
}

.headerbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerbox__nav {
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    font-family: var(--font2);
    font-size: 11px;
    line-height: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--grey);
}

.headerbox__nav p {
    padding: 23px;
    transition: .2s;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.headerbox__nav p:hover {
    color: var(--black);
    border-bottom: 2px solid var(--primary);
}

.headerbox__logo {
    font-family: var(--font1);
    font-size: 32px;
    line-height: 37px;
    font-weight: 300;
    color: var(--primary);
}

/* OPENING SECTION */

.opening {
    text-align: center;
}

.opening__h1 {
    font-family: var(--font1);
    font-size: 49px;
    line-height: 57px;
    font-weight: 400;
    margin: 200px 0 20px 0;
}

.opening__text,
.opening__cta {
    font-family: var(--font2);
    font-size: 16px;
    line-height: 22px;
}

.opening__cta {
    color: var(--white);
    display: inline-block;
    margin-top: 60px;
    padding: 22px 157px 23px 157px;
    background-color: var(--primary);
    font-weight: 600;
    text-decoration: none;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
}

.opening__img {
    width: 100%;
}

/* STATISTICS */

.stats__h2 {
    text-align: center;
    font-family: var(--font1);
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin: 100px 0 100px 0;
}

.stats__box {
    display: flex;
    justify-content: center;
    margin: 100px 0 100px 0;
}

.stats__element {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font1);
    position: relative;
}

.stats__element__img {
    height: 100px;
    display: flex;
    align-items: center;
}

.stats__element__img img {
    z-index: 1;
    position: absolute;
}

.reddishimg {
    left: calc(50% - ((44px/2) - 10px));
}

.primaryimg {
    left: calc(50% - ((65px/2) - 10px));
}

.greenimg {
    left: calc(50% - ((52px/2) - 10px));
}

.stats__element__circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    right: calc(50% - ((70px/2) - 10px));
}

.reddish {
    background-color: var(--redish);
}

.primary {
    background-color: var(--primary);
}

.green {
    background-color: var(--green);
}

.stats__element__text:first-of-type {
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    letter-spacing: 5.96px;
    margin-bottom: 20px;
}

.stats__element__text:nth-of-type(2),
.stats__element__text:nth-of-type(3) {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--grey);
}